*,
*::before,
*::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html,body{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
h1{
    text-align: center;
    color: white;
}
.container{
    border: 2px solid rgb(0, 0, 0);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 2);
    background-color: black;
    border-radius: 20px;
    padding: 10px;
    height: 60%;
    width: 400px;
}
.inputDisplay{
    border: 1px solid white;
    background-color:gray;
    border-bottom: none;
    height: 50px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    font-size: 32px;
    font-weight: 900;
}
.outputDisplay{
    border: 1px solid white;
    background-color:gray;
    border-top: none;
    font-size: 32px;
    font-weight: 900;
    height: 50px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}
.btnsBox{
    margin-top: 10px;
    height: 70%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
}
.numBtns{
    height: 100%;
    width: 60%;
    padding: 8px;
}
.operators{

    height: 100%;
    width: 40%;
    padding: 8px;
}
.btn{
    font-size: 25px;
    font-weight: 900;
    height: 25%;
    width: 32%;
}
.zero{
    width: 100%;
}
.btns{
    
    font-size: 25px;
    font-weight: 900;
    height: 30%;
    width: 45%;
}

.clearBtn,.resBtn{
    background-color: tomato;
    margin-top: 10px;
    font-size: 25px;
    font-weight: 900;
    height: 18%;
    width: 92%;
}
.copyright{
    margin-top: 150px;
    font-weight: 900;
}
.btn:hover,.btns:hover{
    background-color: #bbb;
}
.clearBtn:hover,.resBtn:hover{
background-color: rgb(250, 125, 103);
}